<?xml version="1.0" encoding="utf-8"?>
<!-- The android manifest file that has important info about the app -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- This defines the settings for the app, allows backups, modifies thems and icons  -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MainActivity"
        tools:targetApi="31">
        <!-- define the settings for the main activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- allows action for the main activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>